<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="tdsProxy" type="TDSProxy.Configuration.TdsProxySection,TDSProxy" allowDefinition="Everywhere"/>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/>
    </startup>
    <appSettings>
        <add key="IRBSecurityConnectionString" value="data source=DB3;initial catalog=IRBSecurity;User ID=IRBSecurity;password=IRBSecurity"/>
        <add key="AllowNonContextConnections" value="true"/>
    </appSettings>
    <tdsProxy xmlns="http://schemas.techsoftinc.com/TDSProxy/1.0">
        <listeners>

            <!--
            <add name="IRBManager" listenOnPort="1433" forwardToHost="67855d2dc000000" forwardToPort="4433" sslCertStoreName="My" sslCertStoreLocation="LocalMachine" sslCertSubjectThumbprint="576bc81a4a6a61977e84ca167e12b3154118e176" authenticatorDll="SampleAuthenticator.dll" authenticatorClass="SampleAuthenticator.SampleAuthenticator" />
            <add name="IRBManager" listenOnPort="1433" forwardToHost="127.0.0.1" forwardToPort="4433" sslCertStoreName="My" sslCertStoreLocation="LocalMachine" sslCertSubjectThumbprint="afa34a3464e3eb18def0dd82d078df523f2827f9" authenticatorDll="SampleAuthenticator.dll" authenticatorClass="SampleAuthenticator.SampleAuthenticator" />
            -->
            <add name="IRBManager" listenOnPort="1433" forwardToHost="10.214.72.119" forwardToPort="4433" sslCertStoreName="My" sslCertStoreLocation="LocalMachine" sslCertSubjectThumbprint="576bc81a4a6a61977e84ca167e12b3154118e176" authenticatorDll="SampleAuthenticator.dll" authenticatorClass="SampleAuthenticator.SampleAuthenticator" />
            
        </listeners>
    </tdsProxy>
</configuration>
