<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="tdsProxy" type="TDSProxy.Configuration.TdsProxySection,TDSProxy" allowDefinition="Everywhere"/>
	</configSections>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>
	<appSettings>
		<add key="IRBSecurityConnectionString" value="data source=DB3;initial catalog=IRBSecurity;User ID=IRBSecurity;password=IRBSecurity"/>
		<add key="AllowNonContextConnections" value="true"/>
	</appSettings>
	<tdsProxy xmlns="http://schemas.techsoftinc.com/TDSProxy/1.0">
		<listeners>
			<add name="IRBManager" listenOnPort="1433" forwardToHost="db3" forwardToPort="1433" sslCertStoreName="Root" sslCertStoreLocation="CurrentUser" sslCertSubjectThumbprint="7e1bb6cc7aa2bdecb3d64c1a4c409337588b44ea">
				<authenticators>
					<add name="IRBManager" dll="IRBManager.TDSProxy.Authenticator.dll" class="IRBManager.TDSProxy.Authenticator.Authenticator"/>
				</authenticators>
			</add>
		</listeners>
	</tdsProxy>
</configuration>
